<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="loginstyle.css" type="text/css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/10588/10588254.png" type="image/icon type">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap" rel="stylesheet">

</head>

<body>

    <div class="main" ng-controller="loginController as login">
        
        <div class="box">
            <div class="box2">
                <img src="https://t3.ftcdn.net/jpg/02/59/31/70/360_F_259317013_nJJaBgGGzvXMd6cAyLd6yMJtbdnd61wk.jpg"
                    alt="pic">
            </div>
            <!-- https://cdn-icons-png.flaticon.com/512/10588/10588254.png -->

           
        <div class="box1" >
            <div class="logodiv">
                <img class="logo" src="https://cdn-icons-png.flaticon.com/512/10588/10588254.png" alt="">
                <br>

                <p class="welcome">Login to Your Account </p>
                <br>


            </div>


            <label class="label"> User Name
                <br> <input class="input" id="username" type="text" placeholder="User Name" ng-model="login.username"
                    maxlength="15" required></label>
            <div class="msg" id="msgUsername"></div>

            <label class="label" for="password"> Password
                <br> <input class="input" id="password" type="password" ng-model="login.password" placeholder="Password"
                    required>
            </label>
            <div class="msg" id="msgpassword"></div>

            <div class="pmsg" id="pmsg"></div>

            <button id="loginbtn" class="submitbtn" ng-click="login.logIn()"> Sign In</button>

            <p id="createAccount" class="createAccount" ng-click="login.redirect()">Don't have an account? Register here</p>

        </div>
           


        </div>
    </div>


</body>


</html>