* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "SUSE", sans-serif;
}

.box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.logo {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    width: 95%;
    height: 7vh;
    align-items: center;
    border-radius: 1em;
    padding: .5rem;
    margin: 1rem;
}

.text {
    display: flex;
    flex-direction: column;
}

.logotext {
    background-color: #ffffff;
    font-weight: 700;
    font-size: 1.6rem;
    display: flex;
    padding: 1rem;

}

.underlogotext {
    background-color: #ffffff;
    font-weight: 200;
    font-size: 1rem;
}

.logoimg {
    background-color: #ffffff;
    width: 3vw;
    margin: 1em;
    height: 5vh;
}

.side-navigation {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    flex-direction: column;
    width: 16vw;
    min-height: 100%;
    position: fixed;
    align-self: flex-start;
    align-items: center;
    background-color: #f1f1f1;
}

.div {
    background-color: #ffffff;
    color: black;
    margin: 0.3em;
    font-weight: 300;
    font-size: 1.6rem;
    padding: 1rem;
    width: 95%;
    display: flex;
    align-items: center;
    height: 6vh;
    font-family: "Inter", sans-serif;
    border-radius: 0.7em;
}

.div:hover {
    background-color: #ffffff;
    border-radius: 0.7em;
}

.About {
    background-color: #f8f8f9;
}

.divlog {
    background-color: #ffff;
    color: black;
    margin: 1em;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    height: 6vh;
    margin-top: 69vh;
}

.logout {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    height: 2.8em;
    width: 11em;
    background-color: transparent;
    font-size: 1rem;
    background-color: black;
    color: whitesmoke;
    transition: all 0.3s;
}

.icon {
    background-color: #000000;
    width: .7vw;
    height: 1.2vh;
}

.div:hover .icon {
    background-color: rgb(254, 239, 195);
}

.input {
    width: 40vw;
    height: 5.5vh;
    font-size: 1.9rem;
    border-radius: 0.7em;
    border: 1.5px solid lightgrey;
    outline: 0;
    box-shadow: 0px 0px 20px -18px;
    padding: 0.3em;
    margin: 1em;
}

.add {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    height: 3.2em;
    width: 7em;
    background-color: transparent;
    font-size: 1.2em;
    background-color: black;
    color: whitesmoke;
    transition: all 0.3s;
}

.add:hover {
    box-shadow: 1px 1px 29px 1px rgba(39, 39, 47, 0.4);
}

.checkbox {
    background-color: #f8f8f9;
}

.done-true {
    background-color: #f8f8f9;
    text-decoration: line-through;
    color: grey;
    font-size: 1.8rem;
    border: 0;
    width: 50vw;
}

.done-false {
    background-color: #f8f8f9;
    font-size: 1.8rem;
    border: 0;

}

.todoDone {
    width: 4vw;
    height: 3vh;
    background-color: #f8f8f9;
}

.todobtn {
    margin: 0.1em;
    border-radius: 10px;
    height: 2em;
    width: 2em;
    background-color: transparent;
    font-size: 1rem;
    background-color: #000000;
    color: whitesmoke;
    transition: all 0.3s;
    border: 0;
}

.todobtn:hover {
    box-shadow: 1px 1px 29px 1px rgba(39, 39, 47, 0.4);
}

.todolist {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-left: 20em;
}
.form{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;

}
.unstyled {
    margin: 3em;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
}


.eachItem {
    border: 1px solid black;
    margin: 0.5em;
    width: 60vw;
    height: 7vh;
    border-radius: 1em;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f9;
}

.done {
    background-color: transparent;
}

.done1 {
    padding: 0.2em;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    border: 0;
}

.btn {
    padding: 1em;
    background-color: transparent;
    display: flex;

}

.btn1 {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 21em;
}
.reddot{
    background-color: #f8f8f9;

    color: red;
}
.update{
    height: 100%
}