<div class="todoList" ng-controller="TodoListController as todoList">
    <form class="form" ng-submit="todoList.addTodo()">
        <input class="input" type="text" ng-model="todoList.todoText" size="30" placeholder="Add new todo" required>
        <input class="add" type="submit" value="Add">
    </form>


    <ul class="unstyled">
        <li class="eachItem" ng-repeat="todo in todoList.todos">
            <label class="checkbox">
                <input class="todoDone" type="checkbox" id="{{todo.id}}" ng-click="todoList.updateStatus($index)"
                    ng-model="todo.done">
                <span class="done-{{todo.done}}">{{todo.text}}</span>
            </label>
            <div class="btn"><button class="todobtn" ng-click="todoList.updateTodo($index)">/</button>
                <button class="todobtn" id="del{{todo.id}}" ng-click="todoList.delTodo($index)">X</button>
            </div>

        </li>
    </ul>
</div>