<div class="box1" ng-controller="TodoListController as todoList">

    <div class="side-navigation">
        <div class="logo1">
            <img class="logoimg1" src="https://cdn-icons-png.flaticon.com/512/10588/10588254.png" alt="logo">
            <div class="text1">
                <p class="logotext12"> Todo App</p>
            </div>
        </div>

        <div class="tododiv"> My Todo</div>
        <div class="divlog1"><button class="logout" ng-click="todoList.logout()" id="logout">Log Out</button> </div>

    </div>


    <div class="todoList1">
        <form class="form1" ng-submit="todoList.addTodo()">
            <input class="input1" type="text" ng-model="todoList.todoText" size="30" placeholder="add new todo" required>
            <input class="add1" type="submit" value="Add">
        </form>


        <ul class="unstyled">
            <li class="eachItem" ng-repeat="todo in todoList.service.data">
                <label class="checkbox">
                    <span class="done-{{todo.done_status}}" id="todo{{todo.id}}"
                        ng-model="todo.task">{{todo.task}}</span>

                </label>
                <div class="btn">
                    <input class="todoDone" type="checkbox" id="{{todo.id}}" ng-click="todoList.updateStatus($event)"
                        ng-model="todo.done_status">

                    <button class="todobtn" id="{{todo.id}}" ng-hide="todo.done_status" ng-model="showinput"
                        ng-click="todoList.updateTodo($event)"><img class="icon" src="pencil.png" alt=""></button>
                    <button class="todobtn" id="{{todo.id}}" ng-click="todoList.delTodo($event)">X</button>
                </div>

            </li>
        </ul>
    </div>





</div>